/* Global styles for the form container */
/*register form CSS*/
.§already-have-account {
  text-align: center;
  margin-top: 15px;
}
.registerContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
    margin-bottom: 3%;
  }
/* Add a CSS class for the disabled button */
.grayed-button {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

  /* Style for error messages */
  .error {
    color: red;
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  
  /* Styles for offscreen elements, useful for screen readers */
  .offscreen {
    position: absolute;
    left: -9999px;
  }
  
  /* Base styles for form elements */
  .form label,
  .form input,
  .form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form label {
    font-weight: bold;
  }
  
  .form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styles for valid input */
  .valid {
    color: green;
  }
  
  /* Styles for invalid input */
  .invalid {
    color: red;
  }
  
  /* Styles for the FontAwesome icons */
  .faCheck {
    color: green;
  }
  
  .faTimes {
    color: red;
  }
  
  .faInfoCircle {
    color: #999;
    font-size: 0.8em;
  }
  
  /* Style for the form instructions */
  .instructions {
    font-size: 0.8em;
    color: #666;
  }
  
  /* Style for the register button */
  .form button {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #003d82;
  }
.form  button:disabled {
    background-color: grey;
    color: white; /* Optional: change the text color if needed */
    cursor: not-allowed; /* Changes the cursor to indicate the button is not clickable */
 
}

  
  /* Style for the login link */
  .line {
    text-align: center;
  }
  
  .line p {
    color: #0056b3;
    cursor: pointer;
  }
  
  /* When p elements are used for navigation, it's better to use 'a' tags for accessibility. */
  /*my account CSS*/
  .account-container {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 2rem auto;
    border-radius: 8px;
  
    /* margin: auto; */
  }
  .user-info h1 {
    color: #333;
    text-align: left;
    margin-bottom: 2rem;
  }
  
  .account-info {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  .account-info div {
    margin-top: 15px;
    padding-top: 20px;
    margin-bottom: 40px;
    
  }
  .user-info label {
    display: contents;
    margin-left: 30px;
    margin-bottom: .5rem;
    margin-right: 3rem;
    padding-left: 30px;
    color: #666;
}

.user-info input{
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-right: 30px;
  padding-left: 10px;
  align-items:right;
}
  .account-info p {
    margin-bottom: 0.5rem;
}
  .account-info strong {
    font-weight: 500;
  }

  .email-div {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  .button {
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  /* Style for buttons and button states */
.edit-button, .delete-button {
  /* Common button styles */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px; /* Add a small space between buttons */
}
  .edit-button {
    padding-right: 10px;
    background-color: #007bff;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #ff4d4f;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
  
  /*Term and conditoins css*/
  .terms-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .terms-container h1 {
    color: #333;
    text-align: center;
  }
  
  .terms-text {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .terms-container ul {
    margin-left: 20px;
  }
  