.parcelSize td {
  padding: 5px;
}
.parcelSizeImage img {
    max-width: 100%; 
    height: auto; 
    padding-top: 5%;
  }

.unit {
  font-weight: bold;
  padding-left: 5px;
}

.parcelSizeImage {
  margin-top: 50px;
}

/*Error message */
.error-message  {
  color: red;
  font-size: 20px;
  margin-top: 5px;
}