  .sizeHeading {
    margin-bottom: 30px;
    margin-top: 15%
  }
  .custom-checkbox {
    display: flex;
    align-items: center;
  }
  
  .custom-checkbox input {
    margin-right: 8px;
    border: 2px solid black;
  }

  .margin-top-30 {
    margin-top: 30px;
  }

  .sidebar {
    max-height: 500px;
  }

  .stepSend {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .confirmHeading {
    margin-top: 4%;
  }

  .dropoffDate {
    margin-top: 30px;
  }
  
  .afterConfirm {
    margin-top: 10%;
  }