.App {
  text-align: left;
}
/* 
  sentParcels and receivedParcels view css:
*/
.navBarLink {
  text-decoration: none;
  color: #159eab;
  font-weight: bolder;
  font-size: 1.2em;
  font-style: italic;
}
.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbarTags {
  font-size: 1.2em;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.navHomeLink {
  font-size: 1.25em;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(91, 91, 91);
  margin-right: 10px;
}
.navHomeLink:hover {
  text-decoration: none;
  color: #2d2d2d;
}
.navbar-brand {
  padding-right: 10%;
}
.navLogo {
  width: 150px;
}
.sidebar {
  margin-bottom: 6%;
  margin-top: 6%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #90d6dc;
}
#sidebarList {
  text-decoration: none;
  color: black;
  background-color: #90d6dc;
}
#sidebarList:hover {
  text-decoration: none;
  color: #068e9a;
  
}
.sidebarListgroup {
  padding-top: 5%;
}
#sidebarListItem {
  border-style: none;
  padding-left: 10px;
  background-color: #90d6dc; 

}
.sentList {
  padding-top: 3%;
}
.mainHeader {
  margin-top: 5%;
  padding-left: 16px;
}
#header { 
  color: #159eab;
  padding: 16px;
  padding-bottom: 6px;
  text-align: left;
  font-size: 1em;
  border-style: none;
  text-decoration: underline;
}
.parcelDetails {
  margin-top: 6%;
  margin-bottom: 6%;
  border-style: ridge;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#detailList {
  padding-left: 16px;
}
/* 
  home view css:
*/
.homeMain {
  padding-top: 3%;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
#incomingHeader {
  padding-left: 16px;
  padding-bottom: 6px;
  text-align: left;
  font-size: 1em;
  border-style: none;
}
.sendParcel {
  margin-top: 8%;
  text-align: center;
}
.sendParcelText {
  text-align: justify;
  padding-left: 16px;
  margin-bottom: 5%;
}
.sendbtn {
  background-color: #90d6dc;
  color: black;
  border-radius: 3px;
  border: none;
  padding: 8px;
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
  width: 40%;
}
.sendbtn:hover {
  background-color: #068e9a;
  color: white;

}
/* 
  frontPage view css:
*/
.frontPageMain {
  padding-top: 5%;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.buttonsRow {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.welcome {
  font-size: 2em;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 5%;
}
.text {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 5%;
}
.logoMain {
  width: 300px;
}
@media(max-width: 992px) {
  .frontPageMain {
    font-size: 0.9em;
  }
  .logoMain {
    margin-bottom: 5%;
    width: 250px;
  }
}
@media(max-width: 768px) {
  .logoMain {
    display: none;
  }
  .text {
    font-size: 1.2em;
  }
  .welcome {
    font-size: 1.5em;
    text-align: center;
  } 
  .FrontPageMain {
    margin: auto;
    padding: 5%;
  }
  .buttonDiv {
    margin-bottom: 5%;;
  } 
  .sendbtn {
    width: 30%;
  }
  .sidebar {
    margin-left: 5%;
  }
  .homeMain {
  align-items: center;
  }
}
@media(max-width: 576px) {
  .frontPageMain {
    padding-left: 5%;
    padding-right: 5%;
  }
  .paragraph {
    margin-bottom: 15%;
    font-size: 0.9em;
  }
  .navLogo {
    width: 120px;
  }
  .mainHeader {
    text-align: center;
    font-size: 1.3em;
  }
  .sendParcelText {
    padding: 5%;
    font-size: 0.9em;
  }
  .incomingHeader {
    font-size: 1.1em;
  }
  .incoming {
    font-size: 0.9em;
  }
  .parcelDetails {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.9em;
  }
}